<h2>FAQ</h2>
<div id="accordion">

  <h3>Who are we?</h3>

              <p>We are like the water, we are calm and collected with the products we try so hard to find for you, but when the water is rough and disturbed with the new trends and fads, we frantically work our bones off to find the best deal and product for you.  When one puts it in content like that, I guess we are always the water being disrupted.</p>

  <h3>Why you should buy from us</h3>

              <p>Like many ecommerce sites, we sell to gain a profit, but we do it differently.  We spend so much time and effort in choosing the right head or ear set for your optimal enjoyment and needs.  We have excellent customer service and second to none the best products.</p>

  <h3>What the warranty?</h3>

              <p>One year or if it is more then you will have to speak with the company and it’ll be there discretion. </p>

  <h3>I missed a deal. Can I still get it?</h3>
              <p>Unfortunately, no, it’s part of a limited period offer.  If we allowed you the privilege we will have to give everyone else that same deal.</p>

  <h3>I want to talk to a live person there. Can I call you?</h3>
              <p>Like all great people and companies, we are trying to fid the best products and experience.  If we had to answer everyone’s gripes, we wouldn’t be going anywhere. </p>

  <h3>How do I return a damaged or defective product?</h3>
              <p> Mail it back to the company.  We don’t buy the goods; we just try to find the best ones for you. </p>
</div>
<script>
  $("#accordion").accordion();
</script>